
body{
  margin:0;
  font-family: sans-serif;
}

*{
  box-sizing: border-box;
}

.services{
  
  min-height: 100vh;
  width: 100%;
  float: left;
  padding:100px 0;
  position: absolute;
  top:650px;
 background: rgba(38, 81, 166, 0.2);
  
}

.container1{
  max-width: 1170px;
  margin: auto;

}
.services .heading{
  margin-bottom: 20px;
  width: 100%;
  float: left;
  color:white;
}
.services .heading h1{
  text-align: center;
  font-size: 40px;
  color:white;
  margin:0;
}

.services .content{
  float: left;
  width: 100%;
}
.services .content .box{
  width: 33.33%;
  float: left;
  padding:15px;
 
}
.services .content .box .inner{
  padding:30px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.services .content .box .inner1{
    padding: 30px;
    text-align: center;
    align-self: center;
    font-family: sans-serif;
    font-size: 15px;
}
.services .content .box .inner::before{
  content: '';
  position: absolute;
  left:0;
  bottom:0;
  width:0;
  box-sizing: border-box;
  height: 0;
  border-bottom:3px solid transparent;
  border-left: 3px solid transparent;
  transition: all .8s ease;
}
.services .content .box .inner::after{
  content: '';
  position: absolute;
  right:0;
  top:0;
  width:0;
  box-sizing: border-box;
  height:0;
  border-top:3px solid transparent;
  border-right: 3px solid transparent;
  transition: all .8s ease;
}
.services .content .box:hover .inner::after,
.services .content .box:hover .inner::before{
   border-color: white;
   width: 100%;
   height: 100%;
}
.services .content .box .inner .icon{
  font-size:50px;
  color:white;
  transition: color .8s ease;
}
.services .content .box:hover .inner .icon{
  color:white;
}
.services .content .box .inner h3{
  font-size: 25px;
  font-weight: normal;
  color:white;
  margin:20px 0;
}

.services .content .box .inner p{
  font-size:15px;
  color:white;
  line-height:24px;
}


/*responsive*/

@media(max-width: 767px){
  .services .content .box {
    width:100%;
}.m{
  display:none;
}
}


@media(max-width: 767px){
  body{
    background-image: url('https://source.unsplash.com/WLUHO9A_xik/1600x900');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  
  }

}
@media(max-width: 767px){
  #fname{
width:200px;
  }
  #lname{
    width:200px;
  }
  #subject{
    width:200px;
  }
}

@media (min-aspect-ratio : 16/9){
  .m {
    width:100%;
    height: auto;
  }
}
@media (max-aspect-ratio : 16/9){
  .m {
    width:auto;
    height:100%;
  }
}
@media(max-width: 720px)
 {

  /* For mobile phones: */
 .peep  {
    width:100%;
    font-size: 10px;
   
  }
  .con  {
    width:100%;
    font-size: 10px;
    
  }
  .con2  {
    width:100%;
    font-size: 10px;
  }
  .con3  {
    width:100%;
    font-size: 10px;
  }
}
h3{
    color:white;
}
.peep{
  position: absolute;
  border-bottom:4px solid red;
  
  top :250px;
  left:40%;
  color:white;
  animation: key 4s ease forwards;
  overflow:hidden;
  white-space :nowrap;
  border-right:4px solid white;
  width:12ch;
   font-size: 45px;

}
@keyframes key {

  0%{
    width: 0ch;
  }
  50%{
    width:10ch; 
  }
  
}
.con{
  position: absolute;
  top :300px;
  left:40%;
  color:white;
  animation: con 8s ease forwards;
  animation-delay: 3s;
  overflow:hidden;
  white-space :nowrap;
  opacity: 0;
  width:38ch;

}
@keyframes con{
  0%{
    width:0ch;
    opacity: 1;
  }
  100%{
    width:40ch;
    opacity: 1;
    
    border-color: red;
  }
}
.con2{
  position: absolute;
  top :330px;
  left:40%;
  color:white;
  animation: con3 10s ease forwards ;
  animation-delay: 10s;
  overflow:hidden;
  white-space :nowrap;
 
  width:34ch;
  opacity:0;

}
@keyframes con3{
  0%{
    width:0%;
    opacity:1;
  }
  100%{
    width:34ch;
    opacity:1;
  }
}
.con3{
  position: absolute;
  top :360px;
  left:40%;
  color:white;
  animation: con3 10s ease forwards ;
  animation-delay: 15s;
  overflow:hidden;
  white-space :nowrap;
  
  width:34ch;
  opacity:0;

}
@keyframes con3{
  0%{
    width:0%;
    opacity:1;
  }
  100%{
    width:34ch;
    opacity:1;
  }
}
